@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Hanken+Grotesk:wght@500;700;800&family=Lexend+Deca&family=Outfit&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
}
.container {
  background-color: var(--white);
  text-align: center;
  width: 200px;
  height: 315px;
  border-radius: 15px;
}
img {
  width: 180px;
  border-radius: 15px;
  padding: 2px;
  margin-top: 6px;
}
.text > h1 {
  font-size: 15px;
  text-align: center;
  font-family: "Outfit", sans-serif;
  margin: 10px;
}
.text > p {
  font-size: 10px;
  font-family: "Outfit", sans-serif;
  text-align: center;
  margin-left: 12px;
  margin-right: 12px;
  color: var(--grayish-blue);
  padding-bottom: 10px;
}
